parameters:
    level: 5
    paths:
        - php-src
        - bin
    bootstrapFiles:
        - bin/bootstrap.php
    excludePaths:
        - php-src/Testing (?)
    ignoreErrors:
        - '#Function h3_.* not found#'
        -
            message: '#Variable \$argv might not be defined#'
            path: bin/h3php.php
        -
            message: '#Variable \$argc might not be defined#'
            path: bin/h3php.php
